<head>

  <!-- some code is commented because i just dont have the heart to kill them-->
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta itemprop="name" content="Revision844">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://www.revision844.co.ke/assets/revision844_banner.png">
    <meta property="og:image" content="http://www.revision844.co.ke/assets/revision844_banner.png" />
    <meta itemprop="url" content="">
    <meta name="author" content="Asilia">
    <%= favicon_link_tag 'favicon.ico' %>
  <title> Mkutano </title>
  <%= stylesheet_link_tag    'application-145ebbae97fba5f8c6e03b2e3dbe19cb', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'clndr', media: 'all', 'data-turbolinks-track' => true %>

  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans:400" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" media="all" rel="stylesheet" />

  <%= javascript_include_tag 'application-1ae8502203dce617f805c5b6be7831ef', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'json2', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'underscore-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'moment-2.8.3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'clndr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'test', 'data-turbolinks-track' => true %>

  <style type="text/css">
    .will_paginate{
      /*stupid thing still dowsnt work. investigate some more*/
      color:chocolate;
      position: relative;
      margin:0 auto;
      margin-top: 0.5em;
    }
    .will_paginate, a{
      color:chocolate;
    }
    .footer-2{
      list-style-type: none;
      display: inline-block;
    }
    footer-2, li{
      display: inline;
      padding-left: 1.5em;
    }
  </style>

  <!-- Enable live-reloading in the browser without an extension 
  <script src="http://localhost:35729/livereload.js"></script>-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--<meta content="authenticity_token" name="csrf-param" />
<meta content="1085Id9jeQT0ELwlM6yOTZUuW9/k/ukMTTN7sOTX1Iw=" name="csrf-token" />-->
</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%=link_to (image_tag("logo.PNG", alt: "Logo white", class: "logo")), homes_path, class: "navbar-brand in-app", anchor: "landing" %>
    </div>
    <div class="collapse navbar-collapse text-center">
          <ul class="nav navbar-nav">
            <li><%= link_to "About", homes_path %></li>
            <li><%= link_to "Events" %></li>
            <li><%= link_to "Publications", homes_path, :anchor => "archives", class: "in-app" %></li>
            <li><%= link_to "Contact", :anchor => "footer", class: "in-app" %></li>
          </ul>  
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- search -->
<!--<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, :class => "button postfix" %>
<% end %>-->
<%= link_to 'New Event', new_event_path %><!-- make an option for this to appear when signed in on the users profile page -->


  
<div class="rows">
<!--search box-->
<!--<div class="search-box wb-bottom" style="padding: 5px; overflow: hidden; border-bottom-width:2px;">
    <form>
      <input type="text" class="search-input wb" placeholder="Search By Category..."/ style="border-width:2px; width:40%; margin-right:2%; padding:10px; font-size:14px; float:left;">
      <input type="submit" class="search-button wb" value="Go" style="width:20%; background: rgba(255,255,255, 0.15); border-width:2px;"/>
    </form>
</div>-->
  <div class="row" >
      <div class="col-sm-3 text-left features" style=" box-shadow: 1px 2px 1px #f7f7f7; margin-top: 3em; margin-right: 3em;"> 
        <!-- put the guys in this section in one huge div that you style to correspond to the one in that ka thingy  of eventsbrite -->
        
        <div style="">
          <img src="" class="g-map" style="width:250px; height:200px; padding-left:3em; ">
          <div style="overflow: visible: font-size: 15px; line-height: 25px; font-weight: 400; box-sizing: border-box; display:inline-block; vertical-align: top; padding-left: 15px; padding-right: 15px; width:50%; margin-left: 1em; margin-top:2em;" >
            <%= form_tag events_path, :method => :get do %>
              <%= text_field_tag :search, params[:search], placeholder: '   Search ...' %>
              <%#= submit_tag "Search", :name => nil, :class => "button postfix" %>
            <% end %>
          </div>
          <!--<input type="text" placeholder="Enter Category..." style="overflow: visible: font-size: 15px; line-height: 25px; font-weight: 400; box-sizing: border-box; display:inline-block; vertical-align: top; padding-left: 15px; padding-right: 15px; width:66%; margin-left: 3em; margin-top:2em;" >-->
          <div style="position: relative; box-sizing: border-nox; display; inline-block; overflow: hidden; vertical-align: top;">
            <div style="background-color: #fff; margin: 0 auto; padding-left:2em; padding-bottom: 5px; border-bottom:thin solid #dedede; width:60%;">
              <h3 style="border-bottom: medium none; cursor: pointer; padding-right: 20px; color: #00b6bf; text-decoration: none; font-size: 15px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px;">Category</h3>
            </div>
            <div style="background-color: #fff; margin: 0 auto; padding-left:2em; padding-bottom: 5px; border-bottom:thin solid #dedede; width:60%;">
              <h3 style="border-bottom: medium none; cursor: pointer; padding-right: 20px; color: #00b6bf; text-decoration: none; font-size: 15px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px;">Event Type</h3>
            </div>
            <div style="background-color: #fff; margin: 0 auto; padding-left:2em; padding-bottom: 5px; border-bottom:thin solid #dedede; width:60%;">
              <h3 style="border-bottom: medium none; cursor: pointer; padding-right: 20px; color: #00b6bf; text-decoration: none; font-size: 15px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px;">Date</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 text-left features free" style="box-shadow: 1px 2px 0px 0px #f7f7f7;" >
        <h2 class=" page-title padded-bottom "> Events</h2>
        <section style="text-transform:uppercase; color: #00b6bf; display:block; line-height: 25px; font-weight: 400; text-align-right; letter-spacing: 0.5px; margin-bottom: 1em; ">
                <li href="" style="padding-right: -20px;  color: #666; background-color: #ededed; border-top-left-radius: 4px; border-bottom-left-radius: 4px; box-sizing: border-box; display:inline-block; font-size: 12px; padding: 0px 20px; line-height: 30px; height:30px; border-left: 1px solid #dedede; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; text-decoration:none; text-transform: uppercase; font-weight: 400; text-align: right; letter-spacing:0.5px;">
                    relevance
                </li>
                <li href="" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-right: 1px solid #dedede; border-box; display:inline-block; font-size: 12px; padding: 0px 20px; background-color: #ff;line-height: 30px; height:30px; border-left: 1px solid #dedede; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; color: #0086bf; text-transform: uppercase;text-align: right; letter-spacing:0.5px;">
                    date
                </li>
            </section>
        <% @events.each do |event| %>
        <div style="display:block; text-decoration:none; border:1px solid #f7f7f7; background-color: #fff; box-shadow: 0px 2px 1px grey; font-size:15px; line-height: 25px; font-weight: 400; letter-spacing:0.5px; margin-bottom: 0.5em;"><!-- events container-->
          <div style="margin-right:0px; float:left; overflow:visible; border-right:1px solid #ededed; text-align:center; display:table; line-height: 0; width: 150px; height: 150px; max-width: 150px; max-height:150px; margin: 0px; padding:0px; clear:both;" >
            <div style=" display: table-cell; vertical-align:middle;">
              <div style="border: 0px none;"><%= link_to (image_tag event.image.url(:thumb)), event %></div>
            </div>  
          </div>
          <div style="overflow:hidden; padding-right: 30px; padding-left: 30px;"><!-- event details-->
            <h3 style=" color: #0086bf; font-size:20px; line-height: 30px; font-wight: 40; text-overflow:ellipsis; overflow: hidden; whitespace:nowrap; margin-top: 10px; "><%= event.name %></h3><!-- event name-->
            <p style="margin-bottom:0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; font-size: 15px; line-height: 25px; color: #180000;">
             Theme : <span style="text-transform:capitalize; color: #cc3333;"><%= event.theme %></span>
            </p><!-- event organizer and . example Party by Homeboyz-->
            <p style="margin-bottom:0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; font-size: 15px; line-height: 25px; color: #180000;">
             Category : <span style="text-transform:capitalize; color: #cc6633;"><%= event.category %></span>
            </p><!-- event organizer and . example Party by Homeboyz-->
            <ul style=" list-style-type:none; padding: 0px; margin-left: 1.5em; list-style: outside none none; cursor:pointer;">
              <li style="position: relative; padding-top: px; color:#999;"> From :<%= event.date %> To: <%= event.date %> </li>
              <li style="position: relative; padding-top: px; color:#999;"><%= event.venue %>,  <%= event.location %>,  <%= event.country %></li>
            </ul>
          </div>
        </div><!-- /event container-->
        <% end %>
         <%= will_paginate @events, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0, class: "will_paginate"%>
      </div>
    </div>
    
  </div>

      <div id="footer" class="getstarted s-black" style="margin-top: 1em;">
        <div class="container">
          <footer>
            <div id="footer"class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
                <p class="footer-title caps">Contact Us</p>
                <p>Email:<a href="mailto:hello@revision844.co.ke"> hello@mkutatanotravel.com</a></p>
                <p>Phone Number:                                                                                                                                    <a href="tel:0717565133"> 0717 164 504</a></p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
                <p class="footer-title caps">We are Social</p>
                <ul class="no-discs">
                  <li class="">Facebook : <a href="https://www.facebook.com/pages/Mkutano-Business-Travel/1649182765308583?fref=ts">Mkutano Business Travel</a></li>
                  <li class="">Twitter : <a href="https://twitter.com/?lang=en">@mkutanotravel</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="footer-title caps">Subscribe</p>
                <p>Subscribe today &amp;<br> receive our monthly newsletter</p>
              </div>
            </div>
            <div style="margin: 0 auto; width: 60%;">
              <p>&copy; Mkutano Business Travel. 2015. Part of The Stawi Group, Kenya  </p>
              <nav>
                <ul class="footer-2">
                  <li><%= link_to "About",homes_path %> </li>
                  <li><%= link_to "Events", homes_path %></li>
                  <li><%= link_to "Publications",homes_path %></li>
                  <li><%= link_to "Contact ", :anchor => "footer" %></li>
                </ul>
              </nav>
              <p style="margin: 0 auto; width: 60%; word-spacing: 10px; color:#00ccff;">Position | Connect | Grow</p>
            </div>
          </footer>
        </div>
      </div>


          

