<head>

  <!-- some code is commented because i just dont have the heart to kill them-->
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta itemprop="name" content="Revision844">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://www.revision844.co.ke/assets/revision844_banner.png">
    <meta property="og:image" content="http://www.revision844.co.ke/assets/revision844_banner.png" />
    <meta itemprop="url" content="">
    <meta name="author" content="Asilia">
    <%= favicon_link_tag 'favicon.ico' %>
  <title> Mkutano </title>
  <%= stylesheet_link_tag    'application-145ebbae97fba5f8c6e03b2e3dbe19cb', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'clndr', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track' => true %>
  <!--<%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>-->

  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans:400" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" media="all" rel="stylesheet" />

  <%= javascript_include_tag 'application-1ae8502203dce617f805c5b6be7831ef', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'json2', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'underscore-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'moment-2.8.3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'clndr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'test', 'data-turbolinks-track' => true %>

  
  <!--<%= javascript_include_tag 'modernizr', 'data-turbolinks-track' => true %>-->
  <%= javascript_include_tag 'jquery-2.1.1', 'data-turbolinks-track' => true %>
  <!--<%= javascript_include_tag 'jquery.mixitup.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>-->

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

  <style type="text/css">

  <style type="text/css">
  #about{
    background-color:white;
  }
  .home{
    background-color:#4794b0;
  }
  .will_paginate{
      /*stupid thing still doesnt work. investigate some more*/
      color:#aed365;
      position: relative;
      margin:0 auto;
      margin-top: 0.5em;
    }
    .footer-2{
      list-style-type: none;
      display: inline-block;
    }
    .logo{
      padding-top:0.8em;
    }
    .footer-2, li{
      display: inline;
      padding-left: 1.5em;
    }
    .nav-size{
      height:65px;
    }
    .ul-nav{
      padding-left:5em;
      padding-top:0.5em;
      font-size: 20px;
      font-family: garamond;
      font-weight: bold;
    }
    .about-title{
      font-family: garamond;
      color:black;
      font-size: 24px; 
      text-align: center;
    }
    .about-text{
      text-align: center
      font-size:14px;
      font-family: Corbel; /*ask to retain original font family this looks horrible*/
      color:black;
    }
    .pub-title{
      font-family: Garamond;
      color:white;
      font-size:24px;
      font-weight: bold;
    }
    .pub-text{
      font-family:Corbel;
      font-size:14px;
      font-color:white;
      text-align: 
    }
    .footer-contact{
      text-align: center;
      font-family: Corbel;
      color:white;
      font-size: 12px;
      margin-top:1.3em;
      margin-bottom: 1.3em;
    }
    .search{
      width:210%;
    }
    /*.will_paginate{
      stupid thing still dowsnt work. investigate some more
      color:chocolate;
      position: relative;
      margin:0 auto;
      margin-top: 0.5em;
    }
    .will_paginate, a{
      color:chocolate;
    }*/
    .footer-2{
      list-style-type: none;
      display: inline-block;
      padding-top:1em;
      padding-bottom:1em;
    }
    .footer-2, li{
      display: inline;
      padding-left: 1.5em;
    }
    .event-image{
      height:150px;
      width: 150px;
      max-height: 150px !important;
      max-width: 150px !important;
    }
    .new-event{
      margin-left: 2.5em;
      margin-bottom: 1em;
      color: blue;
      background-color: #ededed;
      border-radius: 4px;
      box-sizing: border-box;
      display:inline-block;
      font-size: 12px;
      padding: 0px 10px;
      line-height: 30px;
      height:30px;
      width: 10em;
      border-left:
      1px solid #dedede;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      text-decoration:none;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      letter-spacing:0.5px;
    }
    .title-pos{
      margin-top:1em;
      margin-bottom: -0.3em;
    }


    /* ############################ STYLE FOR THE DROP DOWN ###################################*/
    #cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  padding-left:1.9em;
  padding-right: 1.5em;
  padding-bottom:1em;
  width: ;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
#cssmenu ul ul {
  display: none;
  z-index: 10000px;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #36aae7;
  background: -webkit-linear-gradient(#36aae7, #1fa0e4);
  background: -moz-linear-gradient(#36aae7, #1fa0e4);
  background: -o-linear-gradient(#36aae7, #1fa0e4);
  background: -ms-linear-gradient(#36aae7, #1fa0e4);
  background: linear-gradient(#36aae7, #1fa0e4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
  color: #eeeeee;
  background: #1fa0e4;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1);
  background: -moz-linear-gradient(#1fa0e4, #1992d1);
  background: -o-linear-gradient(#1fa0e4, #1992d1);
  background: -ms-linear-gradient(#1fa0e4, #1992d1);
  background: linear-gradient(#1fa0e4, #1992d1);
}
#cssmenu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#cssmenu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#cssmenu ul ul li:first-child > a {
  box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}

    /* ############################ STYLE FOR THE DROP DOWN ###################################*/
  </style>

<!-- script for the dropdown -->
<script type="text/javascript">
    ( function( $ ) {
$( document ).ready(function() {
$('#cssmenu li.has-sub>a').on('click', function(){
    $(this).removeAttr('href');
    var element = $(this).parent('li');
    if (element.hasClass('open')) {
      element.removeClass('open');
      element.find('li').removeClass('open');
      element.find('ul').slideUp();
    }
    else {
      element.addClass('open');
      element.children('ul').slideDown();
      element.siblings('li').children('ul').slideUp();
      element.siblings('li').removeClass('open');
      element.siblings('li').find('li').removeClass('open');
      element.siblings('li').find('ul').slideUp();
    }
  });

  $('#cssmenu>ul>li.has-sub>a').append('<span class="holder"></span>');

  (function getColor() {
    var r, g, b;
    var textColor = $('#cssmenu').css('color');
    textColor = textColor.slice(4);
    r = textColor.slice(0, textColor.indexOf(','));
    textColor = textColor.slice(textColor.indexOf(' ') + 1);
    g = textColor.slice(0, textColor.indexOf(','));
    textColor = textColor.slice(textColor.indexOf(' ') + 1);
    b = textColor.slice(0, textColor.indexOf(')'));
    var l = rgbToHsl(r, g, b);
    if (l > 0.7) {
      $('#cssmenu>ul>li>a').css('text-shadow', '0 1px 1px rgba(0, 0, 0, .35)');
      $('#cssmenu>ul>li>a>span').css('border-color', 'rgba(0, 0, 0, .35)');
    }
    else
    {
      $('#cssmenu>ul>li>a').css('text-shadow', '0 1px 0 rgba(255, 255, 255, .35)');
      $('#cssmenu>ul>li>a>span').css('border-color', 'rgba(255, 255, 255, .35)');
    }
  })();

  function rgbToHsl(r, g, b) {
      r /= 255, g /= 255, b /= 255;
      var max = Math.max(r, g, b), min = Math.min(r, g, b);
      var h, s, l = (max + min) / 2;

      if(max == min){
          h = s = 0;
      }
      else {
          var d = max - min;
          s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
          switch(max){
              case r: h = (g - b) / d + (g < b ? 6 : 0); break;
              case g: h = (b - r) / d + 2; break;
              case b: h = (r - g) / d + 4; break;
          }
          h /= 6;
      }
      return l;
  }
});
} )( jQuery );

  </script>
  <!-- /script for the dropdown -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--<meta content="authenticity_token" name="csrf-param" />
<meta content="1085Id9jeQT0ELwlM6yOTZUuW9/k/ukMTTN7sOTX1Iw=" name="csrf-token" />-->
</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<!-- Navbar -->
<!-- Navbar -->
<div class=" navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="nav-size container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%=link_to (image_tag("logo.png", alt: "Logo white", class: "logo")), homes_path, class: "logo navbar-brand in-app", anchor: "landing" %>
    </div>
    <div class="collapse navbar-collapse text-center">
          <ul class="ul-nav nav navbar-nav">
            <!--<li><%= link_to "Home", :anchor => "landing", class: "in-app" %></li>-->
            <li><%= link_to "About", :anchor => "about" %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Publications", :anchor => "publications", class: "in-app" %></li>
            <li><%= link_to "Contact", :anchor => "contact", class: "in-app" %></li>
          </ul>  
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- /Navbar -->
<!-- search -->
<!--<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil, :class => "button postfix" %>
<% end %>-->



  
<div class="rows container">
<!--search box-->
<!--<div class="search-box wb-bottom" style="padding: 5px; overflow: hidden; border-bottom-width:2px;">
    <form>
      <input type="text" class="search-input wb" placeholder="Search By Category..."/ style="border-width:2px; width:40%; margin-right:2%; padding:10px; font-size:14px; float:left;">
      <input type="submit" class="search-button wb" value="Go" style="width:20%; background: rgba(255,255,255, 0.15); border-width:2px;"/>
    </form>
</div>-->
  <div class="row" >
      <div class="col-sm-3 text-left features" style=" box-shadow: 1px 2px 0px #002; margin-top: 3em; margin-right: 3em;"> 
        <!-- put the guys in this section in one huge div that you style to correspond to the one in that ka thingy  of eventsbrite -->
        
        <div style="">
          <div style="overflow: visible: font-size: 15px; line-height: 25px; font-weight: 400; box-sizing: border-box; display:inline-block; vertical-align: top; padding-left: 15px; padding-right: 15px; width:50%; margin-left: 1em; margin-top:2em;" >
            <%= form_tag events_path, :method => :get do %>
              <%= text_field_tag :search, params[:search], placeholder: '   Search ...',class: "search" %>
              <%#= submit_tag "Search", :name => nil, :class => "button postfix" %>
            <% end %>
          </div>
          <!--<input type="text" placeholder="Enter Category..." style="overflow: visible: font-size: 15px; line-height: 25px; font-weight: 400; box-sizing: border-box; display:inline-block; vertical-align: top; padding-left: 15px; padding-right: 15px; width:66%; margin-left: 3em; margin-top:2em;" >-->
          <div style="position: relative; box-sizing: border-nox; display; inline-block; overflow: hidden; vertical-align: top; margin-top: 1em;">
            <div id='cssmenu'>
              <ul>
                <li class='active has-sub'><a href='#'><span>Industry</span></a>
                    <ul>
                      <li><a href='#'><span>Advertising-Marketing</span></a></li>
                      <li><a href='#'><span>Architecture</span></a></li>
                      <li><a href='#'><span>Automotive</span></a></li>
                      <li> <%= link_to (find_category("Aeronautical")) %></li>
                      <!-- this is aeronautical now just find out how to link to the method and all is well-->
                      <li><a href='#'><span>Aviation</span></a></li>
                      <li><a href='#'><span>Banking</span></a></li>
                      <li><a href='#'><span>Beauty</span></a></li>
                      <li><a href='#'><span>Business Management</span></a></li>
                      <li><a href='#'><span>Chemicals</span></a></li>
                      <li><a href='#'><span>Cleaning</span></a></li>
                      <li><a href='#'><span>Conservation (exc Wildlife)</span></a></li>
                      <li><a href='#'><span>Construction</span></a></li>
                      <li><a href='#'><span>Education</span></a></li>
                      <li><a href='#'><span>Energy</span></a></li>
                      <li><a href='#'><span>Engineering</span></a></li>
                      <li><a href='#'><span>Entertainment</span></a></li>
                      <li><a href='#'><span>Entrepreneurship</span></a></li>
                      <li><a href='#'><span>Fashion & Accessories & Apparel</span></a></li>
                      <li><a href='#'><span>Fast Moving Cosumer Goods (FMCG)</span></a></li>
                      <li><a href='#'><span>Film & TV</span></a></li>
                      <li><a href='#'><span>Financing/span></a></li>
                      <li><a href='#'><span>Food</span></a></li>
                      <li><a href='#'><span>Food processing</span></a></li>
                      <li><a href='#'><span>Gender, Youth & Children</span></a></li>
                      <li><a href='#'><span>Government</span></a></li>
                      <li><a href='#'><span>Healthcare</span></a></li>
                      <li><a href='#'><span>Hospitality</span></a></li>
                      <li><a href='#'><span>Human Resources</span></a></li>
                      <li><a href='#'><span>Hospitality</span></a></li>
                      <li><a href='#'><span>Industry</span></a></li>
                      <li><a href='#'><span>Information Technology</span></a></li>
                      <li><a href='#'><span>Infrastructure</span></a></li>
                      <li><a href='#'><span>Insurance</span></a></li>
                      <li><a href='#'><span>Interior Design</span></a></li>
                      <li><a href='#'><span>International Development</span></a></li>
                      <li><a href='#'><span>Investment & Securities</span></a></li>
                      <li><a href='#'><span>Legal</span></a></li>
                      <li><a href='#'><span>Logistics</span></a></li>
                      <li><a href='#'><span>Manufacturing (goods)</span></a></li>
                      <li><a href='#'><span>Marine & Maritime</span></a></li>
                      <li><a href='#'><span>Marketing</span></a></li>
                      <li><a href='#'><span>Media & Communication</span></a></li>
                      <li><a href='#'><span>MICE</span></a></li>
                      <li><a href='#'><span>Mining</span></a></li>
                      <li><a href='#'><span>Music</span></a></li>
                                </ul>
                </li>
                <li class='active has-sub'><a href='#'><span>Location</span></a>
                    <ul>
                      <li><a href='#'><span>Nairobi</span></a></li>
                      <li><a href='#'><span>Rwanda</span></a></li>
                    </ul>
                </li>
                <li class='active has-sub'><a href='#'><span>Venue</span></a>
                    <ul>
                      <li><a href='#'><span>Serena</span></a></li>
                      <li><a href='#'><span>Hilton</span></a></li>
                    </ul>
                </li>
              </ul>
            </div>
            <!--<div style="background-color: #fff; margin: 0 auto; padding-left:2em; padding-bottom: 5px; border-bottom:thin solid #dedede; width:60%;">
              <h3 style="border-bottom: medium none; cursor: pointer; padding-right: 20px; color: #00b6bf; text-decoration: none; font-size: 15px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px;">Category</h3>
            </div>
            <div style="background-color: #fff; margin: 0 auto; padding-left:2em; padding-bottom: 5px; border-bottom:thin solid #dedede; width:60%;">
              <h3 style="border-bottom: medium none; cursor: pointer; padding-right: 20px; color: #00b6bf; text-decoration: none; font-size: 15px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px;">Event Type</h3>
            </div>
            <div style="background-color: #fff; margin: 0 auto; padding-left:2em; padding-bottom: 5px; border-bottom:thin solid #dedede; width:60%;">
              <h3 style="border-bottom: medium none; cursor: pointer; padding-right: 20px; color: #00b6bf; text-decoration: none; font-size: 15px; font-weight: 400; text-transform: uppercase; letter-spacing: 0.5px;">Date</h3>
            </div>-->
            <% if user_signed_in? %>
            <%= link_to 'New Event', new_event_path, class: "new-event" %><!-- make an option for this to appear when signed in on the users profile page -->
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-8 text-left features free title-pos" style="box-shadow: 1px 2px 0px 0px #002;" >
        <h2 class=" page-title padded-bottom title-pos "> Events</h2>
        <section style="text-transform:uppercase; color: #00b6bf; display:block; line-height: 25px; font-weight: 400; text-align-right; letter-spacing: 0.5px; margin-bottom: 1em; ">
                <li href="" style="padding-right: -20px;  color: #666; background-color: #ffe; border-top-left-radius: 4px; border-bottom-left-radius: 4px; box-sizing: border-box; display:inline-block; font-size: 12px; padding: 0px 20px; line-height: 30px; height:30px; border-left: 1px solid #dedede; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; text-decoration:none; text-transform: uppercase; font-weight: 400; text-align: right; letter-spacing:0.5px;">
                    date
                </li>
                <li href="" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-right: 1px solid #dedede; border-box; display:inline-block; font-size: 12px; padding: 0px 20px; background-color: #ededed;line-height: 30px; height:30px; border-left: 1px solid #dedede; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; color: #0086bf; text-transform: uppercase;text-align: right; letter-spacing:0.5px;">
                    location
                </li>
            </section>
        <% @events.each do |event| %>
        <div style="display:block; text-decoration:none; border:1px solid #f7f7f7; background-color: #fff; box-shadow: 0px 2px 1px #002; font-size:15px; line-height: 25px; font-weight: 400; letter-spacing:0.5px; margin-bottom: 0.5em;"><!-- events container-->
          <div style="margin-right:0px; float:left; overflow:visible; border-right:1px solid #ededed; text-align:center; display:table; line-height: 0; width: 150px; height: 150px; min-width: 150px; min-height:150px; margin: 0px; padding:0px; clear:both;" >
            <div style=" display: table-cell; vertical-align:middle;">
              <div style="border: 0px none;"><%= link_to (image_tag event.image.url(:thumb)), event, class: "event-image"%></div>
            </div>  
          </div>
          <div style="overflow:hidden; padding-right: 30px; padding-left: 30px;"><!-- event details-->
            <h3 style=" color: #0086bf; font-size:20px; line-height: 30px; font-wight: 40; text-overflow:ellipsis; overflow: hidden; whitespace:nowrap; margin-top: 10px; "><%= link_to (event.name), event %></h3><!-- event name-->
            <p style="margin-bottom:0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; font-size: 15px; line-height: 25px; color: #180000;">
             Theme : <span style="text-transform:capitalize; color: #cc3333;"><%= event.theme %></span>
            </p><!-- event organizer and . example Party by Homeboyz-->
            <p style="margin-bottom:0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; font-size: 15px; line-height: 25px; color: #180000;">
             Industry: <span style="text-transform:capitalize; color: #cc6633;"><%= event.category %></span>
            </p><!-- event organizer and . example Party by Homeboyz-->
            <p style="margin-bottom:0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; font-size: 15px; line-height: 25px; color: #180000;">
             Dates : <span style="text-transform:capitalize; color: #cc3333;"><%= event.date %> To: <%= event.date %></span>
            </p>
            <p style="margin-bottom:1em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; font-size: 15px; line-height: 25px; color: #180000;">
             Venue : <span style="text-transform:capitalize; color: #cc3333;"><%= event.venue %>,  <%= event.location %>,  <%= event.country %></span>
            </p>
          </div>
        </div><!-- /event container-->
        <% end %>
         <%= will_paginate @events, renderer: BootstrapPagination::Rails, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0, class: "will_paginate"%>
      </div>
    </div>
    
  </div>

      <!--<div id="footer" class="getstarted s-black" style="margin-top: 1em;">
        <div class="container">
          <footer>
            <div id="footer"class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
                <p class="footer-title caps">Contact Us</p>
                <p>Email:<a href="mailto:hello@revision844.co.ke"> hello@mkutatanotravel.com</a></p>
                <p>Phone Number:                                                                                                                                    <a href="tel:0717565133"> 0717 164 504</a></p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
                <p class="footer-title caps">We are Social</p>
                <ul class="no-discs">
                  <li class="">Facebook : <a href="https://www.facebook.com/pages/Mkutano-Business-Travel/1649182765308583?fref=ts">Mkutano Business Travel</a></li>
                  <li class="">Twitter : <a href="https://twitter.com/?lang=en">@mkutanotravel</a></li>
                </ul>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="footer-title caps">Subscribe</p>
                <p>Subscribe today &amp;<br> receive our monthly newsletter</p>
              </div>
            </div>
          </footer>
        </div>
      </div>-->
<div id="footer" class="getstarted s-blue navbar-inverse" style="margin-top: 1em;">
  <div class="container">
    <footer>
      <div class="footer-contact">
        <p>&copy; Mkutano Business Travel. 2015. Part of The Stawi Group, Kenya  </p>
        <nav>
          <ul class="footer-2">
            <li><%= link_to "About",homes_path %> </li>
            <li><%= link_to "Events", homes_path %></li>
            <li><%= link_to "Publications",homes_path %></li>
            <li><%= link_to "Contact ", :anchor => "contact" %></li>
          </ul>
        </nav>
        <p class="" style="margin: 0 auto; word-spacing: 0.5em; color:#00ccff;">      Position | Connect | Grow
        </p>
      </div>
    </footer>
  </div>
</div>


<!-- ££££££££££££££££ AREA 51 ££££££££££££££££££££-->
<%# @events.each do |event| %>
 <%#= select("event", "category", Event::CATEGORIES, {include_blank: true}) %>
<%# end %>
<%#= select("event[]", "category", %w[rap rock country], {}, { index: nil }) %>
          

