<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image.url(:medium) %> 
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>
<p>
  <strong>Theme:</strong>
  <%= @event.theme %>
</p>
<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>
<p>
  <strong>Company:</strong>
  <%= @event.company %>
</p>
<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
