
<style type="text/css">
  #container{
    margin-bottom: 1em;
    /*box-shadow: -1px 1px 1px black;*/
  }
  #items{
    padding-left:2em;
    margin-top:1em;
  }
  #image-holder{
    background:none repeat scroll 0% 0% ;
    visibility: visible;
    padding-top:1em;
    padding-bottom:0.5em;
    width:300px;
    float:left;
    min-height: 300px !important;
    margin-left: 20px;
    opacity: 1;
    margin-right:3em;
    transform:none;
  }
  #content-holder{}
  #actions{
    color:blue;
    padding-bottom:1em;
  }
  .actions{
    color:chocolate ;
  }
  .content-p{
    padding-top:0.8em;
  }
  .img{
    border:thin solid transparent;
    border-radius:2px;
    color:#ccc;
    background: none repeat scroll 0% 0% ;
    width:100%;
    visibility: visible;
  }
  .show-container
</style>
</div>

<!-- Navbar -->
<div class="navi navbar-fixed-top" ></div>
<div class=" navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="nav-size container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%=link_to (image_tag("thha.png", alt: "Logo white", class: "logo")), homes_path, class: "logo navbar-brand in-app", anchor: "landing" %>
    </div>
    <div class="collapse navbar-collapse text-center" >
          <ul class="ul-nav nav navbar-nav" >
            <li class="nav-background"><%= link_to "About", homes_path %></li>
            <li class="nav-background"><%= link_to "Events", events_path %></li>
            <li class="nav-background"><%= link_to "Publications", homes_path, class: "in-app" %></li>
            <li class="nav-background"><%= link_to "Contact", :anchor => "footer", class: "in-app" %></li>
          </ul>  
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- /Navbar -->

<div id="container" class="container rows show-container"><!-- overal container-->
  <div id="items"><!--items-->
    <p id="notice"><%= notice %></p>

    <div id="image-holder">
      <div class="img">
        <%= image_tag @event.image.url(:medium) %> 
      </div>
    </div>
  <div id="content-holder">
    <!--<p>
      <strong>Industry-I</strong>
      <%= @event.name %>
    </p>-->


    <p class="content-p">
      <strong>Event Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @event.category %>
    </p>
    <p>
      <strong>Theme:</strong>
      <%= @event.theme %>
    </p>
    <p>
      <strong>Venue:</strong>
      <%= @event.venue %>
    </p>
    <!--<p>
      <strong>Company:</strong>
      <%= @event.company %>
    </p>-->
    <p>
      <strong>Country:</strong>
      <%= @event.country %>
    </p>

    <!--<p>
      <strong>Organizer:</strong>
      <%#= @event.organizer %>
    </p>-->

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @event.location %>
    </p>

    <!--<p>
      <strong>Link:</strong>
      <%= @event.link %>
    </p>-->

    <div id="actions">
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_event_path(@event), class: "actions" %> |
      <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Delete this Event ?' }, class: "actions" %> |
      <% end %>
      <%= link_to 'Back', events_path, class: "actions" %> 
    </div>
  </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>

<!-- footer-->
<div id="footer" class="getstarted s-blue footer-nav">
  <div class="container">
    <footer>
      <div class="footer-contact">
        <p class="footer-m">&copy; Mkutano Business Travel. 2015. Part of The Stawi Group, Kenya  </p>
        <nav>
          <ul class="footer-2">
            <li><%= link_to "About", homes_path %> </li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Publications",homes_path %></li>
            <li><%= link_to "Contact ", :anchor => "contact" %></li>
          </ul>
        </nav>
        <p class="" style="margin: 0 auto; padding-top: 0.5em; word-spacing: 0.5em; color:#fff;">      Position | Connect | Grow
        </p>
      </div>
    </footer>
  </div>
</div>

