<!DOCTYPE html>
<head>

    <style type="text/css">
       .speak{
          font-weight: bold;
        }
        .left-t{
          font-size: 12px;
          text-align: right;
          font-family: Corbel;
          border-right: thin solid black;
        }
        .left-title{
          text-align: right;
        }
        .right-title{
          text-align: left;
        }
        .right-t{
          font-size: 12px;
          text-align: left;
          font-family: Corbel;
        }
        .pub-left-t{
          font-size: 12px;
          text-align: right;
          font-family: Corbel;
          border-right: none;
        }
        .logo-home{
          padding-top: ;
          position: relative;
          margin:0 auto;
          width:63%;
          
        }
        .home-title{
          font-size:23px;
          text-align: center;
          color:#fff;
          position: relative;

        }
        .mkutano-container{
          width:540px;
          height:280px;
          background-color: rgba(0,0,0,0.7);
          position: absolute;
          left:30%;
          top: 38%;
        }
        @media only screen and (max-width: 320px) { .home-title{ font-size: 1em; }

}
    </style>

  <title>Mkutano |Position.Connect.Grow</title>

</head>
<!-- Navbar -->
<div class="navi navbar-fixed-top" ></div>
<div class=" navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:rgba(0,0,0,0.7)">
  <div class="nav-size container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%=link_to (image_tag("thha.png", alt: "Logo white", class: "logo")), homes_path, class: "logo navbar-brand in-app", anchor: "landing" %>
    </div>
    <div class="collapse navbar-collapse text-center" >
          <ul class="ul-nav nav navbar-nav" >
            <li class="nav-background"><%= link_to "About", :anchor => "about" %></li>
            <li class="nav-background"><%= link_to "Events", events_path %></li>
            <li class="nav-background"><%= link_to "Newsletter", :anchor => "publications" %></li>
            <li class="nav-background"><%= link_to "Contact", :anchor => "contact" %></li>
          </ul>  
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- /Navbar -->
<!-- main content -->
<div id="landing" class="landing section " style="margin-top:0;">
    <div class="container text-center">
      <div class="mkutano-container">
        <%= image_tag("thha.png", alt: "Logo frontpage", class: "logo-home"  )%>
        <p class="home-title">Position | Connect | Grow</p>
        <%#= image_tag("", class: "explore in-app bounce glyphicon glyphicon-chevron-down") %> 
        <!--<a href="index.html#intro" class="explore in-app bounce"><span class="glyphicon glyphicon-chevron-down"></span></a>-->
      </div>
    </div>
</div>

<div id="about" class=" section">
  <div class="container text-center">
    <h1 class="about-title page-title padded-bottom">About</h1>
    <div class="about-text row">
     <p>Mkutano Business Travel is a regional conference and events specialist.</p>
     <p>Offering a host of services, we collaborate with you to select the most appropriate events, and further help you utilise these platforms to maximise the business development opportunities available to you. </p>
     <p>This gives you a greater return on your time and money investment enabling you to meet your objectives and grow.</p>
    </div>

    <p class="about-text padded-bottom"> Our Services Include : </p>
    <div class="row free" style="border-bottom:none; padding-bottom:1em;">

      <table class="table table-hover about-text">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="left-t about-text" >Event Consultation</td>
            <td class="right-t about-text">To assist you in selecting the event(s) most suited to your needs</td>
          </tr>
          <tr>
            <td class="left-t about-text" >Event Ticketing, Accomodation and Travel Booking as required</td>
            <td class="right-t about-text" >To help you get competitive preferential rates</td>
          </tr>
          <tr>
            <td class="left-t about-text" >Event Materials</td>
            <td class="right-t about-text" >To help you effectively showcase your product or service </td>
          </tr>
          <tr>
            <td class="left-t about-text" >Event Briefing and Itineraries</td>
            <td class="right-t about-text" >To help you know what to expect and therefore make the most of your time</td>
          </tr>
          <tr></tr>
        </tbody>
      </table>

      <p class="about-text">  and several other benefits such as discounted professional training and travel rates.</p>
      <p class="about-text" >Industry events are indeed the new way of doing business. Don’t get left behind.
        <span class="speak"><%= link_to "Speak to us", :anchor => "contact" %></span> </p>
      <p class="about-text">today to see how we can help you.</p>
      </p>
    </div>
  </div>
</div>

<div id="publications" class=" s-green section">
  <div class="container text-center">
    <h1 class="page-title padded-bottom price pub-title"> Newsletters &amp; Publications</h1>
    <p class="pub-text">
      Keep up with the latest goings-on in your industry.</br> Sign up today:
    </p>

   <!--End mc_embed_signup-->
 <!-- new sign up form for mail chimp-->
    <div id="mc_embed_signup_scroll" style="margin-bottom: 1em;">
      <form id="searchbox" action="//mkutanotravel.us10.list-manage.com/subscribe/post?u=a15192d07e7f3fd4cbde264bd&amp;id=848edcd585" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input id="mce-EMAIL" type="email" placeholder="Enter Your Email" class="required email pub-text" style="color:black; text-align:center;" style="border-radius: 10px 0px 0px 10px;">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_a15192d07e7f3fd4cbde264bd_848edcd585" tabindex="-1" value="">
          </div>
        <input id="mc-embedded-subscribe" type="submit" value="Subscribe"name="subscribe" class="pub-text"style="background-color: #aed365; border: 2px solid #aed365; border-radius: 5px; padding:2px;" >
      </form>
    </div>

    <div class="row free pub-box">
      <table class="table table-hover">
        <thead>
          <tr>
            <td class="pub-title left-title">Newsletters</td>
            <td class="pub-title right-title">Publications</td>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="pub-left-t about-text" ><%= link_to "March 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text"></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "April 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "May 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "June 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "July 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "August 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "September 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "October 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "November 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
          <tr>
            <td class="pub-left-t about-text" ><%= link_to "December 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c", class: "pub-text", target: "_blank" %></p>
              <p class="icon-li pub-text">
            </td>
            <!--<td class="right-t about-text" ></td>-->
          </tr>
        </tbody>
      </table>
      </div>
  </div>
    </div>
  </div>
</div>

<div id="contact" class="getstarted section s-black">
  <div class="container">
    <footer>
      <div id="footer"class="row">
        <div class=" padded-bottom">
            <p class="footer-title" style="font-size:16px;">Contact Us</p>
            <div class="footer-cont">
            <p class="foot-contact span">e : <a href="mailto:hello@mkutanotravel.com">hello@mkutanotravel.com</a></p>
            <p class="foot-contact span">t : <a href="" target="_blank"> +254 717 164 504</a></p>
            <p class="foot-contact span">f : <a href="https://www.facebook.com/pages/Mkutano-Business-Travel/1649182765308583?fref=ts" target="_blank">Mkutano Business Travel</a></p>
            <p class="foot-contact span">t : <a href="https://twitter.com/?lang=en" target="_blank">@mkutanotravel</a></p>
            <p class="foot-contact span">a : <a href=""> P.O. Box 69561-00400, Nairobi, Kenya</a></p>
          </div>
        </div>
    </footer>
  </div>

  <!-- footer-->
<div id="footer" class="getstarted s-blue footer-nav">
  <div class="container">
    <footer>
      <div class="footer-contact">
        <p class="footer-m">&copy;  2015. Mkutano Business Travel. Part of The Stawi Group  </p>
        <!--<nav>
          <ul class="footer-2">
            <li><%= link_to "About", :anchor => "about" %> </li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Publications",:anchor => "publications" %></li>
            <li><%= link_to "Contact ", :anchor => "contact" %></li>
          </ul>
        </nav>
        <p class="" style="margin: 0 auto; padding-top: 0.5em; word-spacing: 0.5em; color:#fff;">      Position | Connect | Grow
        </p>-->
      </div>
    </footer>
  </div>
</div>



<!-- *************** AREA 51 ********************-->




</body>
</html>