<!DOCTYPE html>
<html>
<head>

  <!-- some code is commented because i just dont have the heart to kill them-->
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta itemprop="name" content="Revision844">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://www.revision844.co.ke/assets/revision844_banner.png">
    <meta property="og:image" content="http://www.revision844.co.ke/assets/revision844_banner.png" />
    <meta itemprop="url" content="">
    <meta name="author" content="Asilia">
    <%= favicon_link_tag 'favicon.ico' %>
  <title> Mkutano </title>
  <%= stylesheet_link_tag    'application-145ebbae97fba5f8c6e03b2e3dbe19cb', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'clndr', media: 'all', 'data-turbolinks-track' => true %>

  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans:400" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" media="all" rel="stylesheet" />

  <%= javascript_include_tag 'application-1ae8502203dce617f805c5b6be7831ef', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'json2', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'underscore-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'moment-2.8.3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'clndr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'test', 'data-turbolinks-track' => true %>

  <!-- Enable live-reloading in the browser without an extension 
  <script src="http://localhost:35729/livereload.js"></script>-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--<meta content="authenticity_token" name="csrf-param" />
<meta content="1085Id9jeQT0ELwlM6yOTZUuW9/k/ukMTTN7sOTX1Iw=" name="csrf-token" />-->
</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%=link_to (image_tag("logo.PNG", alt: "Logo white", class: "logo")), class: "navbar-brand in-app", anchor: "landing" %>
    </div>
    <div class="collapse navbar-collapse text-center">
          <ul class="nav navbar-nav">
            <!--<li><%= link_to "Home", :anchor => "landing", class: "in-app" %></li>-->
            <li><%= link_to "About", :anchor => "about", class: "in-app" %></li>
            <li><%= link_to "Events", :anchor => "events", class: "in-app" %></li>
            <li><%= link_to "Publications", :anchor => "archives", class: "in-app" %></li>
            <li><%= link_to "Contact", :anchor => "footer", class: "in-app" %></li>
          </ul>  
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- /Navbar -->

<!-- Success and Error notices -->
<div id="alert-success" style="display:none">
<div class="alert alert-dismissable alert-success text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</div>
<div id="alert-danger" style="display:none">
<div class="alert alert-dismissable alert-danger text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</div><!-- /Success and Error notices -->

<!-- main content -->
<div id="landing" class="landing section">
    <div class="container text-center">
        <%#= image_tag("logo-frontpage-5bf33be43c14454b9b82428bcb16e356.png", alt: "Logo frontpage", class: "logo"  )%>
        <%= image_tag("", class: "explore in-app bounce") %><span class="glyphicon glyphicon-chevron-down"></span>
        <!--<a href="index.html#intro" class="explore in-app bounce"><span class="glyphicon glyphicon-chevron-down"></span></a>-->
    </div>
</div>

<div id="about" class="howitworks section">
  <div class="container text-center">
    <h1 class="page-title padded-bottom">About</h1>
    <div class="row">
     <p>Mkutano Business Travel is a regional conference and events specialist.</p>
     <p>Offering a host of services, we collaborate with you to select the most appropriate events, and further maximise the development opportunities available to you. </p>
     <p>This gives you a greater return on your resource investment enabling you to meet your objectives and grow.</p>
    </div>
  </div>
</div>

<div id="about" class="pricing section s-white">
  <div class="container text-center">
    <h1 class="page-title padded-bottom"> Our Services Include </h1>
    <!-- ### to add check box, do class=" check" to p, to remove do reverse -->
    <div class="row free" style="border-bottom:none;">
      <div class="col-sm-6 text-left features">
        <p class="icon-li check" >Event Consultation</p>
        <p class="icon-li check">Event Ticketing, Accomodation and Travel Booking as required</p>
        <p class="icon-li check">Event Materials</p>
        <p class="icon-li check">Event Briefing and Itineraries
</p>
<p></p>
      </div>
      <div class="col-sm-6 text-left features" style="border-right:none;"><!-- add a class called price to make text green -->
        <p class="icon-li ">To assist you in selecting the event(s) most suited to your needs</p>
        <p class="icon-li ">To help you get competitive preferential rates</p>
        <p class="icon-li " >To help you effectively showcase your product or service </p>
        <p class="icon-li " >To help you know what to expect and therefore make the most of your time</p>
      </div>
      <p> ... and several other benefits such as discounted professional training and travel rates.</p>
      <p>Industry events are indeed the new way of doing business. Don’t get left behind.
        <%= link_to "Speak to us", :anchor => "footer" %> today to see how we can help you.
      </p>
    </div>



    
    </div>
  </div>
</div>


<div id="events" class="charity section s-green" style="height: 100%;">
  <div class="container text-center ">
    <h2 class="page-title padded-bottom"> Events Calendar </h2>

   <table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Theme</th>
      <th>Venue</th>
      <th>Company</th>
      <th>Country</th>
      <th>Organizer</th>
      <th>Date</th>
      <th>Location</th>
      <!--<th>Link</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= image_tag event.image.url(:thumb) %></td>
        <td><%= event.name %></td>
        
        <td><%= event.category %></td>
        <td><%= event.theme %></td>
        <td><%= event.venue %></td>
        <td><%= event.company %></td>
        <td><%= event.country %></td>

        <td><%= event.organizer %></td>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
        <td><%#= event.link %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    
  </div>
  </div>
</div>

<div id="archives" class="pricing section s-white">
  <div class="container text-center">
    <h1 class="page-title padded-bottom price "> Newsletters &amp; Publications</h1>
    <p>
      Don’t miss out on our monthly newsletter. Subscribe today :
    </p>
    <div class="row free">
      <div class="col-sm-6 text-left features">
        <h2 class="icon-li page-title padded-bottom"> Newsletters</h2>
        <!-- the link to below is just an experiment to see how it will look like in the future -->
        <p class="icon-li"><%= link_to "March 2015", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c" %></p>
        <p class="icon-li ">A web revision app that is desktop, tablet and mobile-friendly</p>
      </div>
      <div class="col-sm-6 text-left features " style="border-right:none;">
        <h2 class="icon-li page-title padded-bottom"> Other Publications</h2>
        <p class="icon-li ">Other Publication One</p>
        <p class="icon-li ">Other publication Two </p>
      </div>
      </div>

    <!--<div class="row free" >
      <div class="col-sm-5 text-left features">
        <!--<div style="border:1px solid grey;">--
        <h3 class="icon-li page-title padded-bottom"> Our Services</h3>
        <!-- the link to below is just an experiment to see how it will look like in the future --
        <p class="icon-li "><%= link_to "Free sets with revision questions and notes for the 844 syllabus", "http://us10.campaign-archive1.com/?u=a15192d07e7f3fd4cbde264bd&id=1e9f263c2c" %></p>
        <p class="icon-li ">A web revision app that is desktop, tablet and mobile-friendly</p>
        <p class="icon-li ">Access to iOS and Android (mobile &amp; tablet) revision apps</p>
      </div>
      <p></p>
      <div class="col-sm-5 text-left features " style="border-right:none;">
        <!--<div style="border:1px solid grey;">--
        <h3 class="icon-li page-title padded-bottom"> Events Listing</h3>
        <p class="icon-li ">Free sets with revision questions and notes for the 844 syllabus</p>
        <p class="icon-li ">A web revision app that is desktop, tablet and mobile-friendly</p>
        <p class="icon-li ">Access to iOS and Android (mobile &amp; tablet) revision apps</p>
        </div>
      </div>
      </div>
    </div>-->
  </div>
    </div>
  </div>
</div>

<div id="footer" class="getstarted section s-black">
  <div class="container">
    <footer>
      <div id="footer"class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
            <p class="footer-title caps">Contact Us</p>
            
          <p><a href="mailto:hello@revision844.co.ke">Email: hello@mkutatanotravel.com</a></p>
          <p><a href="tel:0717565133">Phone Number: 0717 164 504</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
          <p class="footer-title caps">We are Social</p>
          <ul class="no-discs">
            <li class="">Facebook : <a href="https://www.facebook.com/pages/Mkutano-Business-Travel/1649182765308583?fref=ts">Mkutano Business Travel</a></li>
            <li class="">Twitter : <a href="https://twitter.com/?lang=en">@mkutanotravel</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p class="footer-title caps">Subscribe</p>
          <p>Subscribe today &amp;<br> receive our monthly newsletter</p>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- /main content -->
<!-- HouseKeeping -->

<!--<div class="modal fade" id="partner" tabindex="-1" role="dialog" aria-labelledby="Partnership Opportunities" aria-hidden="true">
 
</div>-->




<!-- *************** REASEARCH AND DEVELOPMENT SECTION ********************-->

<!-- Begin MailChimp Signup Form /NAKED-->
<div id="mc_embed_signup">
<form action="//mkutanotravel.us10.list-manage.com/subscribe/post?u=a15192d07e7f3fd4cbde264bd&amp;id=08895c0f8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Subscribe to our mailing list</h2>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a15192d07e7f3fd4cbde264bd_08895c0f8d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>



<!--End mc_embed_signup-->

<!--End mc_embed_signup-->
</div>
<!-- Eventbrite cal widget for the time being -->
<div>

  <!-- Version 1.0.1--
  <div style="width:505px; text-align:center; border:1px solid brown;" >
    <iframe  src="https://www.eventbrite.com/calendar-widget?eid=15909084500&showPrivate=1&sig=AGbIMNzCovbSlu5F0Yx1x3eEiI2AjjmQuw" frameborder="0" height="455" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true">
    </iframe>

    <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" >
      <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecal">
        Online Ticketing
      </a>
    </div>
  </div>

</div>-->

<!-- HouseKeeping -->

  </script>

  
<!-- /Housekeepin>
</body>
</html>