<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Better revision. Anywhere. Anytime. An exciting new way to study or revise from the comfort of your computer or mobile phone. Give your revision a boost today.">
    <meta itemprop="name" content="Revision844"><meta itemprop="description" content="Better revision. Anywhere. Anytime. An exciting new way to study or revise from the comfort of your computer or mobile phone. Give your revision a boost today."><meta itemprop="image" content="http://www.revision844.co.ke/assets/revision844_banner.png"><meta property="og:image" content="http://www.revision844.co.ke/assets/revision844_banner.png" /><meta itemprop="url" content="http://www.revision844.co.ke">
    <meta name="author" content="Asilia">
    <link href="assets/favicon-daff31422b393866941f1253d5af4769.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <title>Revision844 | 844 revision made easier</title>
  <%= stylesheet_link_tag    'application-145ebbae97fba5f8c6e03b2e3dbe19cb', media: 'all', 'data-turbolinks-track' => true %>
  <!--<link data-turbolinks-track="true" href="assets/application-145ebbae97fba5f8c6e03b2e3dbe19cb.css" media="all" rel="stylesheet" />-->
<link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans:400" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" media="all" rel="stylesheet" />
<%= javascript_include_tag 'application-1ae8502203dce617f805c5b6be7831ef', 'data-turbolinks-track' => true %>
  <!--<script data-turbolinks-track="true" src="assets/application-1ae8502203dce617f805c5b6be7831ef.js"></script>-->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--<meta content="authenticity_token" name="csrf-param" />
<meta content="1085Id9jeQT0ELwlM6yOTZUuW9/k/ukMTTN7sOTX1Iw=" name="csrf-token" />-->
</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!--<a class="navbar-brand in-app" href="index.html#landing">-->
          <%=link_to (image_tag("logo-white-77706a6d7edc825bd3a5f60d3b639488.png")), class: "navbar-brand in-app", anchor: "landing" %>
          <!--<img alt="Logo white" class="logo" src="assets/logo-white-77706a6d7edc825bd3a5f60d3b639488.png" />--></a>
    </div>
    <div class="collapse navbar-collapse text-center">
          <ul class="nav navbar-nav">
            <li><a href="index.html#intro" class="in-app">Intro</a></li>
            <li><a href="index.html#howitworks" class="in-app">How it works</a></li>
            <li><a href="index.html#showcase" class="in-app">Showcase</a></li>
            <li><a href="index.html#pricing" class="in-app">Features & Pricing</a></li>
            <!-- <li><a href="upgrading" class="in-app">Upgrade</a></li> --> 
            <li><a href="index.html#charity" class="in-app">Giving back</a></li>
            <!-- <li><a href="#getstarted" class="in-app">Start</a></li> -->
          </ul>
          <div class="nav-sign-in-up">
            <a href="http://app.revision844.co.ke" target="_blank" class="btn btn-default btn-sign btn-sign-in open-sans-condensed btn-rounded">Sign In</a>
            <a href="index.html#getstarted" class="btn btn-success btn-sign open-sans-condensed btn-rounded in-app">Sign Up</a>
          </div>
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- /Navbar -->

<!-- Success and Error notices -->
<div id="alert-success" style="display:none">
<div class="alert alert-dismissable alert-success text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    
</div>
</div>
<div id="alert-danger" style="display:none">
<div class="alert alert-dismissable alert-danger text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    
</div>
</div><!-- /Success and Error notices -->

<!-- main content -->
<div id="landing" class="landing section">
    <div class="container text-center">
        <%= image_tag("logo-frontpage-5bf33be43c14454b9b82428bcb16e356.png", alt: "Logo frontpage", class: "logo")%>
        <!--<img alt="Logo frontpage" class="logo" src="assets/logo-frontpage-5bf33be43c14454b9b82428bcb16e356.png" />-->
        <a href="index.html#intro" class="explore in-app bounce"><span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
</div>
 <div id="intro" class="intro section s-white s-shadow">
  <div class="container text-center">
        <h1 class="page-title">Better revision. Anywhere. Anytime.</h1>
        <p class="padded">Revision844 is the exciting new way for you to study or revise from the comfort of your computer or mobile phone.</p>
    <p>With Revision844 you can:</p>
    <ul class="no-discs you-can">
      <li class="icon-li check">Select the class, subject or topic you would like to revise</li>
      <li class="icon-li check">Access quality questions and study notes, each with informative tips to help you better understand the subject or topic</li>
      <li class="icon-li check">Track your progress and performance</li>
      <li class="icon-li check">Access your account via the web or the mobile app (Android and iOS)</li>
      <li class="icon-li check">Get pointers to help you with challenging subjects or topics</li>
    </ul>
    </div>
</div>
<div id="howitworks" class="howitworks section">
  <div class="container text-center">
    <h1 class="page-title padded-bottom">How it works</h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="box-cover">
          <div class="box">
            Sign up for an account via the web or the mobile app. The app is available on Android and iOS.
          </div>
        </div>
        <div class="arrow-right">
          <%= image_tag("arrow-right-e2c86c7d11b625ef8deeee4ad4657bb1.png", alt: "Arrow right")%>
          <!--<img alt="Arrow right" src="assets/arrow-right-e2c86c7d11b625ef8deeee4ad4657bb1.png" />-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-cover">
          <div class="box">
            Access study notes and questions by selecting your class, subject and topic.
          </div>
        </div>
        <div class="arrow-right">
          <%= image_tag("arrow-right-e2c86c7d11b625ef8deeee4ad4657bb1.png", alt: "Arrow right")%>
          <!--<img alt="Arrow right" src="assets/arrow-right-e2c86c7d11b625ef8deeee4ad4657bb1.png" />-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-cover">
          <div class="box">
            Upgrade to a premium account to gain access to the full suite of amazing study material.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="showcase" class="showcase s-black s-shadow">
  <div class="container text-center">
    <h1 class="page-title caps">Showcase</h1>
    <div id="carousel-show" class="carousel slide padded" data-ride="carousel">
      <!-- indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-show" data-slide-to="1"></li>
        <li data-target="#carousel-show" data-slide-to="2"></li>
        <li data-target="#carousel-show" data-slide-to="3"></li>
        <li data-target="#carousel-show" data-slide-to="4"></li>
        <li data-target="#carousel-show" data-slide-to="5"></li>
        <li data-target="#carousel-show" data-slide-to="6"></li>
        <li data-target="#carousel-show" data-slide-to="7"></li>
      </ol>
      <!-- slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("screens/mR844-login-ff2fb382f0ae410145aaa348763437ac.png", alt: "App login screen")%>
          <!--<img alt="App login screen" src="assets/screens/mR844-login-ff2fb382f0ae410145aaa348763437ac.png" />-->
          <div class="carousel-caption">
            <p>App login screen</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("screens/mR844-menu-open-70d3ffc36fd38a6c97316e6a33d0b9a3.png", alt: "App classes screen")%>
          <!--<img alt="App classes screen" src="assets/screens/mR844-menu-open-70d3ffc36fd38a6c97316e6a33d0b9a3.png" />-->
          <div class="carousel-caption">
            <p>App classes screen</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("screens/mR844-subjects-4e5cd371a1eed2cec8d8e2f566222a05.png", alt: "App subjects screen")%>
          <!--<img alt="App subjects screen" src="assets/screens/mR844-subjects-4e5cd371a1eed2cec8d8e2f566222a05.png" />-->
          <div class="carousel-caption">
            <p>App subjects screen</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("screens/mR844-subject-deets-0c405870520513492d24263f64f17b6a.png", alt: "App subject sets")%>
          <!--<img alt="App subject sets" src="assets/screens/mR844-subject-deets-0c405870520513492d24263f64f17b6a.png" />-->
          <div class="carousel-caption">
            <p>App subject sets</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("screens/mR844-question-e6b9af8b10637a49675955864c9792e0.png", alt: "App question screen")%>
          <!--<img alt="App question screen" src="assets/screens/mR844-question-e6b9af8b10637a49675955864c9792e0.png" />-->
          <div class="carousel-caption">
            <p>App question screen</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("screens/mR844-profile-25592ee3eba32a67adebe8965759e2a5.png", alt: "App profile screen")%>
          <!--<img alt="App profile screen" src="assets/screens/mR844-profile-25592ee3eba32a67adebe8965759e2a5.png" />-->
          <div class="carousel-caption">
            <p>App profile screen</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("screens/mR844-edit-profile-0b66de4254e6bc6530e535015089dcb2.png", alt: "App edit profile screen")%>
          <!--<img alt="App edit profile screen" src="assets/screens/mR844-edit-profile-0b66de4254e6bc6530e535015089dcb2.png" />-->
          <div class="carousel-caption">
            <p>App edit profile screen</p>
          </div>
        </div>
      </div>
      <!-- controls -->
      <a class="left carousel-control" href="index.html#carousel-show" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="index.html#carousel-show" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<div id="pricing" class="pricing section s-white">
  <div class="container text-center">
    <h1 class="page-title padded-bottom">Features &amp; Pricing</h1>
    <div class="row free">
      <div class="col-sm-8 text-left features">
        <p class="icon-li check">Free sets with revision questions and notes for the 844 syllabus</p>
        <p class="icon-li check">A web revision app that is desktop, tablet and mobile-friendly</p>
        <p class="icon-li check">Access to iOS and Android (mobile &amp; tablet) revision apps</p>
      </div>
      <div class="col-sm-4 price">
        <div class="caps free-price">free</div>
      </div>
    </div>
    <div class="row premium">
      <div class="col-sm-8 text-left features">
        <p class="icon-li check">Free sets with revision questions and notes for the 844 syllabus</p>
        <p class="icon-li check">A web revision app that is desktop, tablet and mobile-friendly</p>
        <p class="icon-li check">Access to iOS and Android (mobile &amp; tablet) revision apps</p>
        <p class="icon-li check">Access to Premium revision sets</p>
        <p class="icon-li check">Pay for the access you need: 1 Day @ KES 100; 1 Week @ KES 250; 1 Month @ KES 500; 3 Months @ KES 1,000.</p>

      </div>
      <div class="col-sm-4 price">
        <div class="currency col-xs-4">
          <div class="caps free-price">PREMIUM</div>
        <p><a href="http://www.revision844.co.ke/upgrading" class="btn btn-success btn-sign open-sans-condensed btn-rounded in-app btn-upgrade"> How to Upgrade</a></p>
        <!-- Ksh. 
        <span class="duration">per month</span>
        </div>
        <div class="premium-price col-xs-8 text-left">1,000</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div id="charity" class="charity section s-green">
  <div class="container text-center ">
    <h1 class="page-title">Supporting Literacy in the Community</h1>
    <p class="padded">The Kusoma Tu Trust is a charity that supports primary school pupils that are struggling with literacy. It targets pupils who are about to complete primary school but are not able to properly read or write.</p>
    <p class="padded-bottom">As we love reading and believe that literacy is one of the most empowering tools a child can have, we have pledged 10% of the proceeds from Revision844 to supporting the work of The Kusoma Tu Trust.</p>
    <p class="padded-bottom">Join us in supporting this great cause by donating some of your time or resources. Visit the <a class="white-link" href="http://www.kusomatutrust.org/" target="_blank">Kusoma Tu Trust’s website</a> to learn how you can do so.</p>
    <a href="http://www.kusomatutrust.org/" target="_blank">
      <%= image_tag("kusoma_tu_logo-e17ead4e4d142d02c90f601ea1892b38.png", alt: "Kusoma Tu", class: "partner-logo")%>
      <!--<img alt="Kusoma Tu" class="partner-logo" src="assets/kusoma_tu_logo-e17ead4e4d142d02c90f601ea1892b38.png" />--></a>
  </div>
</div>
<div id="getstarted" class="getstarted section s-red">
  <div class="container text-center ">
    <h1 class="page-title">Get Started</h1>
    <p class="padded">Give your revision a boost today by signing up for a free account via the web or via our free mobile app.</p>
    <p class="padded-bottom">Basic access is free so you can try out Revision844 at no cost for as long as you wish. Only when you are ready to access the premium content do you have to upgrade to the paid plan.</p>
    <div class="padded-bottom">
      <a href="http://app.revision844.co.ke" target="_blank" class="get-started">
<%= image_tag("app-webapp-27f27783dc05d5fc9e3835fd1a998131.png", alt: "App webapp", class: "get-app-icon")%>
<!--<img alt="App webapp" class="get-app-icon" src="assets/app-webapp-27f27783dc05d5fc9e3835fd1a998131.png" />-->
</a>
      <a href="https://play.google.com/store/apps/details?id=com.weareasilia.revision844" target="_blank" class="get-started" target="_blank">
        <%= image_tag("app-googleplay-02e154b1e3b04299bd64f8334765c7be.png", alt: "App googleplay", class: "get-app-icon")%>
        <!--<img alt="App googleplay" class="get-app-icon" src="assets/app-googleplay-02e154b1e3b04299bd64f8334765c7be.png" /></a>-->
      <a href="https://itunes.apple.com/ke/app/revision844/id905887813?mt=8" target="_blank" class="get-started">
<%= image_tag("app-applestore-4b3131f4bfa9495ec52f6bbe135fdb77.png", alt: "App applestore", class: "get-app-icon")%>
<!--<img alt="App applestore" class="get-app-icon" src="assets/app-applestore-4b3131f4bfa9495ec52f6bbe135fdb77.png" /></a>-->
    </div>
  </div>
</div>
<!-- /main content -->
<!-- HouseKeeping -->
<div class="modal fade" id="partner" tabindex="-1" role="dialog" aria-labelledby="Partnership Opportunities" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content default-bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Partnership Opportunities</h4>
      </div>
      <div class="modal-body">
        <div class="blurb">
          <h2 class="yanone text-center">Become an affiliate</h2>
          <p>Earn more by recommending our products.</p>
          <p>Are you a designer, developer or agency with clients that could do with our products? Then why not earn some extra revenue by recommending our products to them.</p>
          <p>Whether you are offering a solution that is built on our products or simply referring them to us, we would love to show our appreciation by rewarding you with a percentage of the revenues.</p>
          <p>Apply now to become an affiliate.</p>
          <hr>
          <h2 class="yanone text-center">Partner with us</h2>
          <p>Built and maintained by us. Managed and marketed by you.</p>
          <p>Ever wanted to run a business but not have to worry about building or maintaining the tech behind it? Then why not look at our range of fully hosted and maintained products and see if one of them would work for you.</p>
          <p>Not only would it be jointly branded, but it would benefit from our joint networks and synergies.</p>
          <p>Drop us a line now to start enjoying the benefits of partnering with us.</p>
          <a class="btn btn-default btn-lg futura-medium" href="mailto:hello@weareasilia.com?subject=Revision844 App Partnership" target="_blank">Write to us</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer s-black">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
          <p>
            <a href="http://www.weareasilia.com" target="_blank">
              <%= image_tag("Asilia-logo-132f04cd6dd24af7198119107a5a42f8.png", alt: "Asilia logo", class: "asilia-logo")%>
              <!--<img alt="Asilia logo" class="asilia-logo" src="assets/Asilia-logo-132f04cd6dd24af7198119107a5a42f8.png" />--></a>
          </p>
          <p class="">
          Revision844<sup>&#153;</sup><br>Powered by <a href="http://somi.weareasilia.com" target="_blank">Somi by Asilia</a><br>&copy; 2014</p>
          <p>
            <a href="http://www.revision844.co.ke/privacy" target="_blank">Privacy</a> &middot; <a href="http://www.revision844.co.ke/terms" target="_blank">Terms</a>
          </p>
          <p><a href="mailto:hello@revision844.co.ke">Email: hello@revision844.co.ke</a></p>
          <p><a href="tel:0717565133">Phone Number: 0717565133</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 padded-bottom">
          <p class="footer-title caps">Asilia's products</p>
          <ul class="no-discs">
            <li><a href="https://www.blackwhitesimple.com/" target="_blank">Black White Simple</a></li>
            <li><a href="http://illustrateme.weareasilia.com" target="_blank">Illustrate Me</a></li>
            <li><a href="http://grape.weareasilia.com" target="_blank">Grape</a></li>
            <li><a href="http://pineapple.weareasilia.com" target="_blank">Pineapple</a></li>
            <li><a href="http://somi.weareasilia.com" target="_blank">Somi</a></li>
            <li><a href="http://asiliaads.weareasilia.com" target="_blank">AsiliaAds</a></li>
            <li><a href="http://weareasilia.bigcartel.com" target="_blank">Our shop</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p class="footer-title caps">Partner with us</p>
          <p>Become a partner or an affiliate<br>and enjoy benefits.</p>
          <p class="padded"><a class="btn btn-default read-more caps open-sans-condensed" data-toggle="modal" data-target="#partner">Find out how &raquo;</a></p>
        </div>
      </div>
    </footer>
  </div>
</div>

<div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//mkutanotravel.us10.list-manage.com/subscribe/post?u=a15192d07e7f3fd4cbde264bd&amp;id=08895c0f8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Subscribe to our mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a15192d07e7f3fd4cbde264bd_08895c0f8d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
<!-- Google Analytics -->


<!-- /HouseKeeping -->
</body>
</html>