<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta itemprop="name" content="Mkutano Travel">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://mkutanotravel.co.ke/assets/thha.png">
    <meta property="og:image" content="http://mkutanotravel.co.ke/assets/thha.png" />
    <meta itemprop="url" content="">
    <meta name="author" content="HabaHaba">
    
    <%= favicon_link_tag 'favicon.ico' %>

  <title>Mkutano |Position| Connect| Grow</title>
   <%= stylesheet_link_tag    'application-145ebbae97fba5f8c6e03b2e3dbe19cb', media: 'all', 'data-turbolinks-track' => true %>

  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans:400" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" media="all" rel="stylesheet" />

  <%= javascript_include_tag 'application-1ae8502203dce617f805c5b6be7831ef', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'json2', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'underscore-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'moment-2.8.3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-2.1.1', 'data-turbolinks-track' => true %>
   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--<meta content="authenticity_token" name="csrf-param" />
<meta content="1085Id9jeQT0ELwlM6yOTZUuW9/k/ukMTTN7sOTX1Iw=" name="csrf-token" />-->
  <%= csrf_meta_tags %>
  <style type="text/css">
  #about{
    background-color:white;
  }
  .speak{
    font-weight: bold;
  }
  .speak>a:hover{
    color: #3f92ae;
  }
  .nav-background{
    background-color:#fff  ;
  }
  .will_paginate{
      color:#aed365;
      position: relative;
      margin:0 auto;
      margin-top: 0.5em;
    }
    .footer-2{
      list-style-type: none;
      display: inline-block;
    }
    .logo{
      margin-top:-0.44em;
      margin-left:-6em;
      position: absolute;
      top:5px;
      z-index: 100;
      height:6em;
      
    }
    .footer-2, li{
      display: inline;
      padding-left: 0.8em;
    }
    navi{
      background-color: rgb(0, 0, 0);
      margin-top: 5em;
      top: -3.5em;
      height: 3.1em;
      position: absolute;
      position: fixed;
      z-index: 2000;
    }
    .nav-size{
      height:65px;
      margin-top:1.4em;
    }
    .ul-nav{
      padding-left:4em;
      padding-top:0.5em;
      font-size: 28px;
      font-family: garamond;
      font-weight: bold;
    }
    .about-title{
      font-family: garamond;
      color:black;
      font-size: 16px; 
      text-align: center;
      padding-top:0.4em;
      padding-bottom:0.4em;
    }
    .about-text{
      text-align: center;
      font-size:12px;
      font-family: Corbel;
      color:black;
    }
    .about-text>a:hover{
      text-decoration: none;
    }
    /* dont know how she saw this in her head. ask her*/
    .pub-box{
      /*background-color: silver;
      /*visibility: 40%;*/
      width:60%;
      margin:0 auto;
    }
    .pub-title{
      font-family: Garamond;
      color:black;
      font-size:16px;
      font-weight: bold;
    }
    .pub-text{
      color: black;
      font-family:Corbel;
      font-size:12px;
      text-align: 
    }
    .pub-text>a{
      text-decoration: none;
    }
    p>.pub-text:hover{
      background-color: silver;
    }
    .footer-contact{
      text-align: center;
      font-family: Corbel;
      color:white;
      font-size: 10px;
      margin-top:1.3em;
      margin-bottom: 1.3em;
    }
    .foot-contact{
      color: black;
      margin:0 auto;
      width:50%;
      text-align: left;
      padding-left: 0;
      font-family: Corbel;
      font-size: 12px;
      line-height: normal;
    }
    .foot-contact>a:hover{
      color:#aed365;
      text-decoration: none;
    }
    .footer-cont{
      margin-top:;
      margin-left:8em;
    }
    .footer-nav{
      background-color:black;
    }
    .span{
      color:black;
      word-spacing: 0.5rem;
    }
    .span>a{
      color: black;
    }
</style>
</head>
<body class="home" data-spy="scroll" data-target=".navbar-collapse">
<!-- Navbar --
<div class="navi navbar-fixed-top" ></div>
<div class=" navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="nav-size container nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%=link_to (image_tag("thha.png", alt: "Logo white", class: "logo")), homes_path, class: "logo navbar-brand in-app", anchor: "landing" %>
    </div>
    <div class="collapse navbar-collapse text-center" >
          <ul class="ul-nav nav navbar-nav" >
            <li class="nav-background"><%= link_to "About", :anchor => "about" %></li>
            <li class="nav-background"><%= link_to "Events", events_path %></li>
            <li class="nav-background"><%= link_to "Publications", :anchor => "publications", class: "in-app" %></li>
            <li class="nav-background"><%= link_to "Contact", :anchor => "footer", class: "in-app" %></li>
          </ul>  
    </div>
  </div>
<!--/.nav-collapse -->
</div>
<!-- /Navbar -->
<!-- Success and Error notices -->
<div id="alert-success" style="display:none">
<div class="alert alert-dismissable alert-success text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</div>
<div id="alert-danger" style="display:none">
<div class="alert alert-dismissable alert-danger text-center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
</div><!-- /Success and Error notices -->

<%= yield %>


<!--<div id="footer" class="getstarted s-blue footer-nav">
  <div class="container">
    <footer>
      <div class="footer-contact">
        <p class="footer-m">&copy; Mkutano Business Travel. 2015. Part of The Stawi Group, Kenya  </p>
        <nav>
          <ul class="footer-2">
            <li><%= link_to "About", :anchor => "about" %> </li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Publications", :anchor => "publications" %></li>
            <li><%= link_to "Contact ", :anchor => "contact" %></li>
          </ul>
        </nav>
        <p class="" style="margin: 0 auto; padding-top: 0.5em; word-spacing: 0.5em; color:#fff;">      Position | Connect | Grow
        </p>
      </div>
    </footer>
  </div>
</div>-->
</body>
</html>
